<div class="statistics-wrapper">
  <div class="statistics-title">
    <span>Statistics</span>
  </div>
  <div class="statistics-container">
    <div class="statistics-chart-container">
      <div class="chart-container">
        <div class="chart1">
          <div class="top">
            <div class="buttons">
              <button (click)="toggle('allUsers')" [class.active]="selectedButton=='allUsers'" class="toggle-button">
                <div class="button-top-text">Users</div>
                <div class="button-bottom-text">{{allUsersNb}}</div>
              </button>
              <button (click)="toggle('newUsers')" [class.active]="selectedButton=='newUsers'" class="toggle-button">
                <div class="button-top-text">New Users</div>
                <div class="button-bottom-text">{{newUsersNb}}</div>
              </button>
            </div>
            <mat-form-field appearance="fill" style="padding: 0.5rem!important; margin-right: 1.5rem!important;">
              <mat-label>Choose Date</mat-label>
              <mat-date-range-input [formGroup]="rangeDate" [rangePicker]="picker1">
                <input [max]="maxDate" formControlName="start" matStartDate placeholder="Start date">
                <input [max]="maxDate" formControlName="end" matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
              <mat-date-range-picker #picker1></mat-date-range-picker>
            </mat-form-field>
          </div>
          <tui-axes
            *ngIf="computeLabels$(selectedRange) | async as labels"
            [axisXLabels]="labels"
            [horizontalLines]="4"
            [verticalLines]="labels.length < 1 ? 1 : labels.length"
            class="axes"
          >
            <tui-line-days-chart
              [height]="250"
              [value]="(computeValue(selectedRange) | async) ?? []"
              [xStringify]="xStringify$ | async"
              [yStringify]="yStringify"
              class="chart"
            ></tui-line-days-chart>
          </tui-axes>

        </div>

        <div class="chart1" style="margin-top: 2rem!important;">
          <div class="top">
            <div class="buttons">
              <button (click)="toggle('allImages')" [class.active]="selectedButton=='allImages'" class="toggle-button">
                <div class="button-top-text">Images</div>
                <div class="button-bottom-text">{{allImagesNb}}</div>
              </button>
              <button (click)="toggle('newImages')" [class.active]="selectedButton=='newImages'" class="toggle-button">
                <div class="button-top-text">New Images</div>
                <div class="button-bottom-text">{{newImagesNb}}</div>
              </button>
            </div>
            <mat-form-field appearance="fill" style="padding: 0.5rem!important; margin-right: 1.5rem!important;
">
              <mat-label>Choose Date</mat-label>
              <mat-date-range-input [formGroup]="rangeDate2" [rangePicker]="picker2">
                <input [max]="maxDate" formControlName="start" matStartDate placeholder="Start date">
                <input [max]="maxDate" formControlName="end" matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
              <mat-date-range-picker #picker2></mat-date-range-picker>
            </mat-form-field>
          </div>
          <tui-axes
            *ngIf="computeLabels$(selectedRange2) | async as labels"
            [axisXLabels]="labels"
            [horizontalLines]="4"
            [verticalLines]="labels.length < 1 ? 1 : labels.length"
            class="axes"
          >
            <tui-line-days-chart
              [height]="250"
              [value]="(computeValue2(selectedRange2) | async) ?? []"
              [xStringify]="xStringify$| async"
              [yStringify]="yStringifyImages"
              class="chart"
            ></tui-line-days-chart>
          </tui-axes>
        </div>
      </div>
      <div class="additional-container">
        <div *ngIf="users$ | async as users" class="container-wrapper">
          <div class="title">

            <h4 class="title-style">
          <span>
{{ this.selectedButton === 'allUsers' ? 'All Users' : (this.selectedButton === 'allImages' ? 'All Images' : (this.selectedButton === 'newImages' ? 'New Images' : 'New Users')) }}
</span>
            </h4>
          </div>
          <div class="wrapper">
            <div *ngFor="let user of users" class="not-item">
              <div (click)="goToUserProfile(user.id)" class="item-wrapper">
                <div class="profile-photo">
                  <tui-svg *ngIf="!user.profilePhoto && isUserType()" class="profile-icon"
                           src="tuiIconUserLarge"></tui-svg>

                  <img *ngIf="(user.profilePhoto && isUserType())|| !isUserType()"
                       [src]="isUserType()? user.profilePhoto :user.imageUrl">
                </div>

                <div class="not-contain">
                  <div class="not-message">
                    <p>
                      {{user.name}}
                    </p>
                    <span>
                  {{user.username}}
                </span>

                  </div>
                  <div class="date">
                <span>
                  {{isUserType() ? 'Register at' : 'Upload at'}}</span>
                    <p> {{isUserType() ? formatDate(user.registerDate) : formatDate(user.uploaded)}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="statistics-chart-container" style="padding-top: 5rem ">
      <div class="chart-container" style="flex:1 1 calc(50% - 10px);">
        <div class="chart-bar">
          <div class="title-chart">
            <span>Top Images of the Week</span>
            <p> Most Appreciated</p>
          </div>

          <tui-axes [axisXLabels]="(statisticsImageName$| async) ?? []"
                    [axisYLabels]="labelsY"
                    class="axes"
          >
            <tui-bar-chart
              [max]="25"
              [tuiHintContent]="hint"
              [value]="(statisticsImageNb$| async) ?? []"
            ></tui-bar-chart>
          </tui-axes>


        </div>
      </div>

      <div class="additional-chart-container">
        <tui-ring-chart [(activeItemIndex)]="index"
                        [value]="(statisticsTypeNb$| async) ?? []"
                        size="xl"
                        style="margin-right: 20px;"
        >
          <span>{{getLabel((statisticsTypeLabel$ | async), index) }}</span>
          <p>{{getSum((statisticsTypeNb$ | async), index) }}</p>
        </tui-ring-chart>
        <tui-ring-chart
          [(activeItemIndex)]="index1"
          [value]="(statisticsCategoryNb$| async) ?? []"
          size="xl"
        >
          <span>{{getLabel((statisticsCategoryLabel$ | async), index1) }}</span>
          <p>{{getSum((statisticsCategoryNb$ | async), index1) }}</p>
        </tui-ring-chart>
      </div>
    </div>
  </div>
</div>
