<div class="statistics-wrapper">
  <div class="statistics-title">
    <span>Statistics</span>
  </div>
  <div class="statistics-container">
    <div class="statistics-chart-container">
      <div class="chart-container">
        <div class="chart1">
          <div class="top">
            <div class="buttons">
              <button class="toggle-button" [class.active]="selectedButton=='allUsers'" (click)="toggle('allUsers')">
                <div class="button-top-text">Users</div>
                <div class="button-bottom-text">{{allUsersNb}}</div>
              </button>
              <button class="toggle-button" [class.active]="selectedButton=='newUsers'" (click)="toggle('newUsers')">
                <div class="button-top-text">New Users</div>
                <div class="button-bottom-text">{{newUsersNb}}</div>
              </button>
            </div>
            <mat-form-field appearance="fill" style="padding: 0.5rem!important; margin-right: 1.5rem!important;">
              <mat-label>Choose Date</mat-label>
              <mat-date-range-input [rangePicker]="picker1" [formGroup]="rangeDate">
                <input matStartDate formControlName="start" placeholder="Start date" [max]="maxDate">
                <input matEndDate formControlName="end" placeholder="End date" [max]="maxDate">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-date-range-picker #picker1></mat-date-range-picker>
            </mat-form-field>
          </div>
          <tui-axes
            *ngIf="computeLabels$(selectedRange) | async as labels"
            class="axes"
            [verticalLines]="labels.length < 1 ? 1 : labels.length"
            [horizontalLines]="4"
            [axisXLabels]="labels"
          >
            <tui-line-days-chart
              class="chart"
              [height]="250"
              [value]="(computeValue(selectedRange) | async) ?? []"
              [yStringify]="yStringify"
              [xStringify]="xStringify$ | async"
            ></tui-line-days-chart>
          </tui-axes>

        </div>

        <div class="chart1" style="margin-top: 2rem!important;">
          <div class="top">
            <div class="buttons">
              <button class="toggle-button" [class.active]="selectedButton=='allImages'" (click)="toggle('allImages')">
                <div class="button-top-text">Images</div>
                <div class="button-bottom-text">{{allUsersNb}}</div>
              </button>
              <button class="toggle-button" [class.active]="selectedButton=='newImages'" (click)="toggle('newImages')">
                <div class="button-top-text">New Images</div>
                <div class="button-bottom-text">{{newUsersNb}}</div>
              </button>
            </div>
            <mat-form-field appearance="fill" style="padding: 0.5rem!important; margin-right: 1.5rem!important;
">
              <mat-label>Choose Date</mat-label>
              <mat-date-range-input [rangePicker]="picker2" [formGroup]="rangeDate2">
                <input matStartDate formControlName="start" placeholder="Start date" [max]="maxDate">
                <input matEndDate formControlName="end" placeholder="End date" [max]="maxDate">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-date-range-picker #picker2></mat-date-range-picker>
            </mat-form-field>
          </div>
          <tui-axes
            *ngIf="computeLabels$(selectedRange2) | async as labels"
            class="axes"
            [verticalLines]="labels.length < 1 ? 1 : labels.length"
            [horizontalLines]="4"
            [axisXLabels]="labels"
          >
            <tui-line-days-chart
              class="chart"
              [height]="250"
              [value]="(computeValue2(selectedRange2) | async) ?? []"
              [yStringify]="yStringifyImages"
              [xStringify]="xStringify$| async"
            ></tui-line-days-chart>
          </tui-axes>
        </div>
      </div>
      <div class="additional-container">
        <div class="container-wrapper" *ngIf="users$ | async as users">
          <div class="title">

            <h4 class="title-style">
          <span>
{{ this.selectedButton === 'allUsers' ? 'All Users' : (this.selectedButton === 'allImages' ? 'All Images' : (this.selectedButton === 'newImages' ? 'New Images' : 'New Users')) }}
</span>
            </h4>
          </div>
          <div class="wrapper">
            <div class="not-item" *ngFor="let user of users">
              <div class="item-wrapper" (click)="goToUserProfile(user.id)">
                <div class="profile-photo">
                  <tui-svg *ngIf="!user.profilePhoto && isUserType()" src="tuiIconUserLarge"
                           class="profile-icon"></tui-svg>

                  <img *ngIf="(user.profilePhoto && isUserType())|| !isUserType()"
                       [src]="isUserType()? user.profilePhoto :user.imageUrl">
                </div>

                <div class="not-contain">
                  <div class="not-message">
                    <p>
                      {{user.name}}
                    </p>
                    <span>
                  {{user.username}}
                </span>

                  </div>
                  <div class="date">
                <span>
                  {{isUserType() ? 'Register at' : 'Upload at'}}</span>
                    <p> {{isUserType() ? formatDate(user.registerDate) : formatDate(user.uploaded)}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="statistics-chart-container" style="padding-top: 5rem ">
      <div class="chart-container" style="flex:1 1 calc(50% - 10px);">
        <div class="chart-bar">
          <div class="title-chart">
            <span>Top Images of the Week</span>
            <p> Most Appreciated</p>
          </div>

          <tui-axes class="axes"
                    [axisXLabels]="(statisticsImageName$| async) ?? []"
                    [axisYLabels]="labelsY"
          >
            <tui-bar-chart
              [max]="25"
              [value]="(statisticsImageNb$| async) ?? []"
              [tuiHintContent]="hint"
            ></tui-bar-chart>
          </tui-axes>




        </div>
      </div>

      <div class="additional-chart-container">
        <tui-ring-chart style="margin-right: 20px;"
                        size="xl"
                        [value]="(statisticsTypeNb$| async) ?? []"
                        [(activeItemIndex)]="index"
        >
          <span>{{getLabel((statisticsTypeLabel$ | async), index) }}</span>
          <p>{{getSum((statisticsTypeNb$ | async), index) }}</p>
        </tui-ring-chart>
        <tui-ring-chart
          size="xl"
          [value]="(statisticsCategoryNb$| async) ?? []"
          [(activeItemIndex)]="index1"
        >
          <span>{{getLabel((statisticsCategoryLabel$ | async), index1) }}</span>
          <p>{{getSum((statisticsCategoryNb$ | async), index1) }}</p>
        </tui-ring-chart>
      </div>
    </div>
  </div>
</div>
