<div *ngIf="notifications$|async as notifications" class="container">
  <div class="container-wrapper">
    <div class="title">

      <h4 class="title-style">
        <span>Notifications</span>
      </h4>

      <div (click)="deleteAllNotification()" *ngIf="notifications.length>0" class="modal-close-button">
        <div class="close-modal">

          <tui-svg
            class=" icon"
            src="tuiIconTrashLarge"
          ></tui-svg>
        </div>
      </div>
    </div>
    <div (scroll)="onScroll()" class="wrapper">
      <div *ngIf="notifications.length==0" class="not-item "
           style="justify-content: center;display: flex;flex-direction: column ;height: 90%">
        <tui-svg src="tuiIconBellLarge"
                 style="font-size: 48px;margin-top:2rem;margin-bottom: 1rem"

        ></tui-svg>
        <p style="font-weight: bold"> You don't have any notification!</p>


      </div>


      <div *ngFor="let notification of notifications" class="not-item">
        <div (click)="goToPage(notification.notification)" class="item-wrapper">

          <div class="photo">
            <tui-svg (click)="deleteNotification(notifications,notification.notification.id)"
                     class="delete-icon"
                     src="tuiIconCloseLarge"
                     style="margin-left: -10px"
            ></tui-svg>


            <div class="profile">

              <tui-svg *ngIf="!notification.notification.sender.profilePhoto" class="icon-profile"
                       src="tuiIconUserLarge"></tui-svg>

              <img *ngIf="notification.notification.sender.profilePhoto"
                   [src]="notification.notification.sender.profilePhoto">
            </div>

          </div>
          <div class="not-contain">
            <div class="not-message">
              <p>
                {{notification.notification.sender.username}}
                <span> {{typeOfNotification(notification.notification.type)}}</span>
              </p>

              <div class="date-message">
                <p>
                  {{calculateTime(notification.notification.timestamp, 'not')}}
                </p>
              </div>
            </div>

            <button (click)="onFollowChange(notifications ,notification.notification.senderId,$event)"
                    *ngIf="notification.isFollowing!=null && notification.notification.type==NotificationType.Follow"
                    [ngClass]="{'unfollow-button':  notification.isFollowing}"

                    class="form-submit-button ">
              <span>    {{ notification.isFollowing ? 'Unfollow' : 'Follow' }}</span>
            </button>
          </div>

        </div>


      </div>


    </div>
  </div>
</div>
