@import '../../../variables';

.background-image-form::before {
  background-image: url("../../../assets/imgs/var3.jpg") !important;
}

.error {
  font-size: 12px;
}

.login-link {
  justify-content: flex-end;
  display: flex;
  margin-top: 10px;
  text-align: center;

  a {
    text-decoration: none;
    margin-left: 5px;
    color: $app-primary-hover;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form-field {
  margin-top: 3rem !important;
}
