<div class="container-form">
  <div class="background-image-form"></div>
  <div class="content-container">
    <div class="form-container">
      <form [formGroup]="form"  class="login-form">
        <h2>Forgot password?</h2>
        <div class="form-field">
          <input placeholder="Email" type="email" id="email" formControlName="email" class="no-border-form" required>
          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
               class="error">
            {{getEmailErrorMessage()}}
          </div>
        </div>
        <div class="button-upload">
        <button   (click)="sendEmailResetPass()"  [disabled]="form.invalid"  class="form-submit-button" type="submit" [ngClass]="{ 'loading': isLoading }">
          <span *ngIf="!isLoading">Send email</span>
          <span *ngIf="isLoading" class="spinner"></span>
        </button>
        </div>
        <p class="login-link">Remember?  <a href="auth/login">Login</a></p>
      </form>

    </div>
  </div>
</div>
