<div class="container-form">
  <div class="background-image-form"></div>
  <div class="content-container">
    <div class="form-container">
      <form [formGroup]="form" class="login-form">
        <h2>Reset password</h2>

        <div class="form-field">
          <div class="input">
            <input placeholder="Password" matInput type="password" id="password"
                   [type]="hidePassword ? 'password' : 'text'" class="no-border-form" formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
              <ng-container *ngIf="hidePassword; else showPasswordIcon">
                <tui-svg src="tuiIconEye" class="icon"></tui-svg>
              </ng-container>
              <ng-template #showPasswordIcon>
                <tui-svg src="tuiIconEyeOff" class="icon"></tui-svg>
              </ng-template>
            </button>
          </div>
          <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
               class="error error-password">
            {{getPasswordErrorMessage()}}
          </div>
        </div>
        <div class="form-field">
          <div class="input">
            <input
              placeholder="Confirm password" type="password" id="confirmPassword" matInput
              [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"
              class="no-border-form">

            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideConfirmPassword">

              <ng-container *ngIf="hideConfirmPassword; else showPasswordIcon">
                <tui-svg src="tuiIconEye" class="icon"></tui-svg>
              </ng-container>
              <ng-template #showPasswordIcon>
                <tui-svg src="tuiIconEyeOff" class="icon"></tui-svg>
              </ng-template>
            </button>
          </div>
          <div
            *ngIf="form.get('confirmPassword')?.invalid && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)"
            class="error error-password">
            {{getConfirmPasswordErrorMessage()}}
          </div>
        </div>
        <button class="form-submit-button" (click)="changePassword()" [disabled]="form.invalid">Change Password</button>
      </form>
    </div>
  </div>
</div>
