//.sidebar {
//  display: flex;
//  //position: fixed;
//  top: 0;
//  left: 0;
//  bottom: 0;
//  //width: 100px; /* Lățimea barei laterale */
//
//  background-color: #f0f0f0; /* Culoarea de fundal a barei laterale */
//}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  bottom: 0;
  display: flex;
  background-color: #f0f0f0;
  justify-content: space-between;
}
.vertical-menu {

  display: flex;
  flex-direction: column;
  justify-content: center; /* Aliniați iconurile pe verticală în mijloc */
  align-items: center; /* Aliniați iconurile pe orizontală în mijloc */
  height: 100%; /* Asigurați-vă că meniul vertical ocupă întreaga înălțime a barei laterale */
}

tui-svg{
  font-size: 20px;
}
.icon {
  width: 54px;
  height: 54px;
  margin-bottom: 10px;
}


.selected {
  background-color: blue; // Culoarea de fundal pentru iconul selectat
  border-radius: 10px; // Rotunjimea colțurilor dreptunghiului
}




@media screen and (max-width: 767px) {
  /* Modificări de stil pentru ecrane cu lățime maximă de 767px */
  .sidebar {
    top: auto;
    bottom: 0;
    height: 100px;
    width: 100vw; /* Lățimea se setează la lățimea vizibilă a ecranului */
  }

  .vertical-menu {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .icon {
    margin-right: 10px;
    margin-bottom: 0;
  }

}

.sub-menu {

  //width: 400px; /* Ajustați lățimea submeniului după necesități */
  background-color:white; /* Culoarea de fundal a submeniului */
  border: 2px solid black;
  margin-left: 60px;
  /* Alte stiluri specifice submeniului */
}


.sub-menu-content{
  margin-left: auto;
}
