<div class="container-form">
  <div class="background-image-form"></div>
  <div class="content-container">
    <div class="form-container">
      <form [formGroup]="form" class="login-form">
        <h2>Sign Up</h2>
        <div class="form-field">
          <input class="no-border-form" formControlName="name" id="name" placeholder="Name" required type="text">
          <div *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)"
               class="error">
            {{ getNameErrorMessage() }}
          </div>
        </div>
        <div class="form-field">
          <input class="no-border-form" formControlName="username" id="username" placeholder="Username" required
                 type="text">
          <div *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)"
               class="error">
            {{ getNameErrorMessage() }}
          </div>
        </div>
        <div class="form-field">
          <input class="no-border-form" formControlName="email" id="email" placeholder="Email" required type="email">
          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
               class="error">
            {{getEmailErrorMessage()}}
          </div>
        </div>
        <div class="form-field">
          <div class="input">
            <input [type]="hidePassword ? 'password' : 'text'" class="no-border-form" formControlName="password" id="password"
                   matInput placeholder="Password" type="password">
            <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" mat-icon-button
                    matSuffix>
              <ng-container *ngIf="hidePassword; else showPasswordIcon">
                <tui-svg class="icon" src="tuiIconEye"></tui-svg>
              </ng-container>
              <ng-template #showPasswordIcon>
                <tui-svg class="icon" src="tuiIconEyeOff"></tui-svg>
              </ng-template>
            </button>
          </div>
          <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
               class="error error-password">
            {{getPasswordErrorMessage()}}
          </div>
        </div>
        <div class="form-field">
          <div class="input">
            <input
              [type]="hideConfirmPassword ? 'password' : 'text'" class="no-border-form" formControlName="confirmPassword" id="confirmPassword"
              matInput placeholder="Confirm password"
              type="password">

            <button (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword"
                    mat-icon-button
                    matSuffix>

              <ng-container *ngIf="hideConfirmPassword; else showPasswordIcon">
                <tui-svg class="icon" src="tuiIconEye"></tui-svg>
              </ng-container>
              <ng-template #showPasswordIcon>
                <tui-svg class="icon" src="tuiIconEyeOff"></tui-svg>
              </ng-template>
            </button>
          </div>
          <div
            *ngIf="form.get('confirmPassword')?.invalid && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)"
            class="error error-password">
            {{getConfirmPasswordErrorMessage()}}
          </div>
        </div>
        <button (click)="register()" [disabled]="form.invalid" class="form-submit-button">Create an account</button>
        <p class="login-link">Already have an account? <a href="/auth/login">Log in</a></p>
      </form>
    </div>
  </div>
</div>
