.container-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  width: 100%;
  background-color: white;
  .container-footer-wrapper{
    width: 90%;
    padding-top: 32px;
    .container-footer-bottom{
      word-break: break-word;
      max-width: 100%;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      padding-top: 16px;
      border-top: 1.5px solid rgb(215,216,219);
      h4{
        font-size: 24px;
        font-weight: bold;
        margin-top: -0.5rem;
        color: rgb(109,115,120,0.5);
      }
    }
  }
}

.social-media{
  word-break: break-word;
  tui-svg{
    color: rgb(109,115,120,0.5);
    margin-left: 1rem!important;
  }
}
