<div class="container-footer">
  <div class="container-footer-wrapper">
    <div class="container-footer-bottom">
      <h4>
        © Vizo
      </h4>
      <div class="social-media">
        <tui-svg
          src="tuiIconFacebookLarge"
        ></tui-svg>
        <tui-svg
          src="tuiIconInstagramLarge"
        ></tui-svg>
        <tui-svg
          src="tuiIconTwitterLarge"
        ></tui-svg>
        <tui-svg
          src="tuiIconLinkedinLarge"
        ></tui-svg>
      </div>

    </div>


  </div>


</div>
