<div *ngIf="image$ |async as image " class="container">
  <div [ngClass]="{ fullscreen: isFullscreen }" class="image-container">
    <tui-svg (click)="toggleFullscreen()"
             [src]="isFullscreen ? 'tuiIconMinimize2Large' : 'tuiIconMaximize2Large'"
             class="fullscreen-button"></tui-svg>
    <img [src]="image.imageUrl" alt="image">
  </div>

  <div class="content-container">
    <div class="container-c">
      <div class="container-inner">
        <div class="left-container">
          <div class="icon-container">
            <tui-svg (click)="onLikeChange(image)" [ngClass]="{'red': isLiked}" class="icon"
                     src="tuiIconHeartLarge"></tui-svg>
            <tui-svg (click)="openGalleryModal()" class="icon" src="tuiIconFolderPlusLarge"></tui-svg>

            <tui-svg *ngIf="localStorage.getItem('role')==='USER'" (click)="openDialogReport()" class="icon" src="tuiIconFlagLarge"></tui-svg>
            <tui-svg *ngIf="isAdminAuthenticated && (existReport | async)" (click)="deleteImageViaReport(image)" class="icon" src="tuiIconTrash2Large"></tui-svg>


          </div>
          <div class="user-container">


            <div [ngStyle]="!image.autor.profilePhoto ? { 'border': '1px solid white', 'box-shadow': '0 0 5px 2px rgba(0, 0, 0, 0.1)' } : null"
                 class="user-avatar ">
              <tui-svg *ngIf="!image.autor.profilePhoto" class="profile-icon" src="tuiIconUserLarge"></tui-svg>

              <img *ngIf="image.autor.profilePhoto" [src]="image.autor.profilePhoto" alt="autor">
            </div>
            <div class="user-info">
              <div class="user-title">
                {{image.title}}</div>
              <div class="line-2">
                <div (click)="goToUserPage(image.autorId)" class="user-subtitle">by

                  {{image.autor.name}}
                </div>

                <ng-container *ngIf="image.autor.id!=this.currentUserId">
                  <div class="dot">•</div>
                  <div (click)="onFollowChange(image.autor)" [ngClass]="{'unfollow-button': isFollowing}"
                       class="follow-button">
                    {{ isFollowing ? 'Unfollow' : 'Follow' }}
                  </div>
                </ng-container>
              </div>
            </div>

          </div>
          <div class="info-container">
            <div class="location">
              <tui-svg
                src="tuiIconMapPinLarge"
              ></tui-svg>
              <div>{{image.location.country}} </div>
            </div>
            <span class="outer-span">Taken: <span class="inner-span">{{ formateDate(image.taked) }}</span></span>
            <span class="outer-span">Uploaded: <span class="inner-span">{{ formateDate(image.uploaded) }}</span></span>
          </div>
          <div class="info-description">
            {{image.description}}
          </div>
          <div class="type-container">
            <div class="info-likes">
              <div class="label">Likes</div>
              <div class="value">{{image.likes.length}}</div>
            </div>
            <div class="info-com">
              <div class="label">Category</div>
              <div class="value">{{ CategoryImage[image.category].toString() }}</div>
            </div>
            <div *ngIf="imageType$ |async as typeImage" class="info-type">
              <div
                class="label">{{typeImage.imageType === 'EditorChoice' ? 'Editor Choice' : typeImage.imageType}}</div>
              <tui-svg [src]="getImageType(typeImage.imageType)"></tui-svg>
            </div>
          </div>
          <div class="open-modal">
           <span (click)="image.likes.length !== 0 && openModal()" [ngClass]="{ 'disabled': image.likes.length === 0 }"
                 class="span-button"><span>
                      {{ image.likes.length }} people liked this photo</span>
                    <tui-svg src="tuiIconArrowRightLarge"></tui-svg>
                        </span>
          </div>

          <div class="carousel-container">
            <span>Color-Based Recommendations</span>
            <button (click)="scrollToPrevious()" class="carousel-button carousel-button-previous"></button>
            <div #carouselWrapper class="carousel-wrapper">
              <div *ngFor="let image of authorImages$" class="card">
                <div (click)="goToImagePage(image.id)" class="card-img-top">
                  <img [src]="image.imageUrl" alt="Carousel Image">
                </div>
                <div class="card-body">
                  <div class="card-title">{{image.title}}</div>

                  <div (click)="goToUserPage(image.autorId)" class="autor-name">
                    <div [ngStyle]="!image.autor.profilePhoto ? {  'border': '1px solid white', 'box-shadow': '0 0 5px 2px rgba(0, 0, 0, 0.1)' } : null"
                         class="user-avatar ">
                      <tui-svg *ngIf="!image.autor.profilePhoto" class="profile-icon" src="tuiIconUser"></tui-svg>

                      <img *ngIf="image.autor.profilePhoto" [src]="image.autor.profilePhoto" alt="autor">
                    </div>
                    <span>by  &nbsp; </span>
                    <p>{{image.autor.username}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <button (click)="scrollToNext()" class="carousel-button carousel-button-next"></button>
          </div>
        </div>
        <div class="right-container">
          <div class="input-container">

            <div *ngIf="currentUser$ | async as user" class="profile-picture">
              <ng-container *ngIf="user.profilePhoto; else profileIcon">
                <img [src]="user.profilePhoto">
              </ng-container>
              <ng-template #profileIcon>
                <tui-svg class="icon-profile " src="tuiIconUserLarge"
                         style="margin-top: -0.5rem;margin-left:-0.4rem;width: 3rem;height: 3rem"></tui-svg>

              </ng-template>

            </div>
            <div class="input-wrapper">
              <tui-input (focusedChange)="onInputFocus()"
                         *ngIf="isAuthenticated()"
                         [(ngModel)]="value"
                         [tuiTextfieldCleaner]="true"
                         tuiTextfieldIconLeft="tuiIconMessageCircleLarge">
                Add a comment
                <input tuiTextfield/>
              </tui-input>
              <div *ngIf="isInputFocused" class="actions">
                <button (click)="cancelComment()" class="cancel-button">Cancel</button>
                <button (click)="postComment(image)" [disabled]="value.trim().length === 0 || value === ' '"
                        class="post-button">
                  Post
                </button>
              </div>

            </div>

            <div *ngIf="comments$ | async as comments" [ngClass]="{'collapsed': isInputFocused}"
                 class="comments-section"
                 id="commentsSection">
              <h2>{{comments.length}} Comments</h2>
              <ul>
                <a *ngIf="comments.length>0">
                  <div *ngFor="let comm of comments" class="comment" style="margin-left:-2rem!important">
                    <div class="comment-profile-picture">
                      <ng-container *ngIf="comm.user.profilePhoto; else profileIcon">
                        <img [src]="comm.user.profilePhoto">
                      </ng-container>
                      <ng-template #profileIcon>
                        <div>
                          <tui-svg class="icon-profile" src="tuiIconUserLarge"></tui-svg>
                        </div>
                      </ng-template>
                    </div>
                    <div class="comment-content">
                      <div class="comment-header">
                        <span class="comment-username">{{comm.user.name}}</span>
                      </div>
                      <div class="comment-text">
                        {{comm.commentText}}
                      </div>
                    </div>
                    <div style="margin-left: auto;margin-right: 1rem">
                      {{calculateTime(comm.createdAt, 'comm')}}

                    </div>
                  </div>
                </a>
                <div *ngIf="comments.length===0" class="no-comment">
                  <tui-svg
                    src="tuiIconMessageCircleLarge"></tui-svg>
                  <p><span>No comments yet</span></p>
                </div>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-likes-modal (closeEvent)="handleCloseModal()" (followEvent)="changeFollowStatus($event)"
                   [isModalOpen]="openLikesModal" [pageDetails]="[image.id,image.autor.id]"
                   [title]="'Likes'"></app-likes-modal>
  <app-gallery-modal (closeEvent)="handleCloseModal()" [currentImage]="image"
                     [isModalOpen]="isGalleryModalOpen"></app-gallery-modal>

</div>



