@import '../../../variables';

nav {
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .destination-buttons {
    a {
      font-size: 16px !important;
    }
  }

  .logo {
    font-size: 35px;
    margin-left: 2%;
    margin-bottom: 0.5rem !important;
    cursor: pointer;
    pointer-events: auto;
    &:hover{
      color:$app-button-color-hover !important;
    }
    dialog {
      border-bottom: 2px solid black;
      margin-bottom: 10px;
    }
  }

  a {
    color: black;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem !important;

    &:hover {
      color: $app-button-color-hover;
    }
  }

  li {
    margin: 10px 30px;
  }
}

.tabs {
  margin-top: -1rem;
  display: none;
}

.responsive-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;

  &.show-menu {
    display: flex;
  }
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-right: 3%;
  margin-left: auto;

  .button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;

    &.sign-in {
      background-color: #fff !important;

      &:hover {
        color: $app-primary;
      }
    }

    &.sign-up {
      background-color: black !important;
      color: white;
      opacity: 0.9;
      border-radius: 25px;

      &:hover {
        background-color: gray !important;
      }
    }
  }
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.dialog-content {
  width: 100%;
  max-width: 100%;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 3rem;
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 30px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  a {
    display: block;
    color: black;
    font-size: 20px;
    padding: 20px 0 0 50px;
    text-decoration: none;
  }
}

.dialog-content .logo-bar {
  position: relative;
  width: 100%;
  height: 0.8px;
  margin-top: 20px;
  background-color: lightgray;
}

.auth-buttons2 {
  display: flex;
  flex-direction: row;

  a {
    font-size: 16px !important
  }
;

  span {
    margin-top: 17px;
  }

}

.text-button {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.text-button:last-child {
  margin-right: -50px;
}

.icon {
  margin-right: 30px;

  &:before {
    display: none;
  }

  &:hover {
    cursor: pointer;
    color: $app-button-color-hover;
  }
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.menu {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li.dropdown {
  &:hover {
    cursor: pointer !important;
    border-color: red !important;
  }

  position: relative;
  display: flex;
}

.dropdown-toggle {
  cursor: pointer;
  display: inline-flex;
  align-items: flex-end;
}

.dropdown-toggle:hover {
  color: $app-button-color-hover !important;
}

.dropdown-toggle:hover .arrow-down {
  border-color: $app-button-color-hover !important;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border: solid gray;
  padding: 3px;
  margin-top: 6px;
  margin-left: 10px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-bottom: 7px;
}

.arrow-down.up {
  transform: rotate(225deg);
  margin-bottom: 1px !important;
}

.dropdown-menu {
  left: 0;
  margin: 0;

  li {
    margin-left: -1rem !important;
  }
}

.show-menu {
  display: block;
}

.principal-buttons {
  a {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 768px) {

  .logo {    margin-bottom: 0 !important;



  }
  .principal-buttons {
    display: none;
  }
  .menu-toggle {
    padding: 1rem;
    display: block;
    margin-left: auto;
  }
  .tabs {
    top: 80px;
    display: flex;

    a {
      font-size: 12px;
      z-index: 10;
      cursor: pointer !important;

    }
  }
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;

    li {
      margin: 10px 60px;
    }

    &.show-menu {
      display: flex;
    }
  }
  .auth-buttons {
    display: none;
    margin-top: 10px;
  }
}



