<div class="container">
  <form [formGroup]="testForm">
    <div class="toggle-item">
      <label for="toggle1">Invert</label>
      <div class="toggle-wrapper">
        <tui-toggle formControlName="Invert" id="toggle1"></tui-toggle>
      </div>
    </div>
  </form>

  <div class="filter">
    <label>Blur</label>
    <input (ngModelChange)="applyBlurFilter()" [(ngModel)]="blurIntensity" class="custom-range" id="blurSlider" max="1" min="0" step="0.1"
           type="range">
  </div>
  <div class="filter">
    <label>Saturation</label>

    <input (ngModelChange)="applySaturationFilter()" [(ngModel)]="saturationValue" class="custom-range" id="satSlider" max="1" min="0" step="0.1"
           type="range">
  </div>
  <div class="filter">
    <label>Noise</label>

    <input (ngModelChange)="applyNoiseFilter()" [(ngModel)]="noiseValue" class="custom-range" id="noiseSlider" max="100" min="0" step="0.1"
           type="range">
  </div>

  <div class="filter">
    <label>Pixelate</label>

    <input (ngModelChange)="applyPixelateFilter()" [(ngModel)]="pixelateValue" class="custom-range" id="pixelateSlider" max="100" min="1"
           step="0.1" type="range">
  </div>
</div>
