<div class="upload-container">
  <div class="container" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">

    <div class="upload-text" *ngIf="!selectedFile">
      <tui-svg src="tuiIconUploadCloudLarge" class="icon"></tui-svg>
      <p>Drag files to upload</p>
    </div>

    <input type="file" #fileInput (change)="onFileSelected($event)"   accept="image/*" style="display: none;">
    <button class="upload-button" (click)="fileInput.click()"   *ngIf="!selectedFile">Upload Photo</button>

    <canvas #canvas  id="canvas"></canvas>

    <div class="buttons">
      <button class="delete-button" (click)="deleteImage()" [disabled]="!selectedFile ">Delete</button>
      <button class="download-button" (click)="downloadImage()" [disabled]="!selectedFile ">Download</button>
            <button (click)="undo()">Undo</button>
      <button (click)="redo()">Redo</button>

      <button (click)="addRect()">Șterge din afara selecției</button>
      <button (click)="cropImage()">selecției</button>
      <button (click)="flipX()">ss</button>
      <button (click)="flipY()">ss</button>

    </div>
  </div>


</div>
