<div class="upload-container">
  <div (dragleave)="onDragLeave($event)" (dragover)="onDragOver($event)" (drop)="onDrop($event)" class="container">

    <div *ngIf="!selectedFile" class="upload-text">
      <tui-svg class="icon" src="tuiIconUploadCloudLarge"></tui-svg>
      <p>Drag files to upload</p>
    </div>

    <input #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;" type="file">
    <button (click)="fileInput.click()" *ngIf="!selectedFile" class="upload-button">Upload Photo</button>

    <canvas #canvas id="canvas"></canvas>

    <div class="buttons">

      <button (click)="deleteImage()" [disabled]="!selectedFile" class="delete-button">Delete Photo</button>
      <button (click)="downloadImage()" [disabled]="!selectedFile" class="download-button">Download Photo</button>
      <button (click)="undo()" [disabled]="!selectedFile" class="download-button">
        <tui-svg src="tuiIconUndo"></tui-svg>
      </button>
      <button (click)="redo()" [disabled]="!selectedFile" class="download-button">
        <tui-svg src="tuiIconRedo"></tui-svg>
      </button>
      <button (click)="deleteSelectedObject()" [disabled]="!selectedFile || !this.selectObject" class="download-button">
        <tui-svg src="tuiIconTrash"></tui-svg>
      </button>
    </div>

  </div>


</div>
