<div class="chat-page-container" xmlns="http://www.w3.org/1999/html">
  <div class="inbox-container">
    <div class="messenger-header">
      <div class="title">
        <h3>Messenger</h3>
      </div>
      <a class="new-chat-button" (click)="openNewConv()">
        <tui-svg
          src="tuiIconPlusSquareLarge"></tui-svg>
      </a>

    </div>
    <div class="messenger-list" *ngIf="usersInChat$ | async as users">
      <a *ngFor="let user of users">
        <div (click)="selectUser(user.username,user.id.toString())">
          <div class="messenger-user" [ngClass]="{'selected-user': user.username==this.currentUsername}">

            <div class="user-avatar-wrapper">
              <img src="assets/imgs/rux.jpg">
              <div class="user-avatar-text-wrapper">
                <div class="text-header" style="display: flex;">
                  <div class="user-username">
                    <p style="font-weight: bold; font-size: 18px; margin: 0;">
                      {{ user.name }}
                    </p>
                  </div>
                  <!--                <div class="date-wrapper ">-->
                  <!--                  <p style="margin: 0;">-->
                  <!--                    <span>12 May</span>-->
                  <!--                  </p>-->
                  <!--                </div>-->
                </div>

                <span>{{user.username}}</span>
              </div>
            </div>
          </div>
        </div>
      </a>


    </div>

  </div>
  <div class="chat-container" *ngIf="openNewChat">
    <div class="messenger-header">
      <div class="user-chat-wrapper">
        <p>New Conversation</p>
      </div>

    </div>

    <div class="input-wrapper">
      <tui-input

        tuiTextfieldIconLeft="tuiIconSearchLarge"

        (input)="searchMethod()"
        [(ngModel)]="value">

        Search
        <input tuiTextfield/>
      </tui-input>
    </div>

    <div class="subtext"><span>Following</span></div>
    <div class="user-list" *ngIf="following$ | async as following" (scroll)="onScroll()">
      <div class="messenger-user-list" (click)="selectUser(follow.following.username,follow.following.id.toString())"
           *ngFor="let follow of following">
        <div class="user-element-wrapper">
          <div class="user-element">
            <img src="assets/imgs/rux.jpg">
            <div class="text-wrapper">
              <div class="text">
                <p style="font-weight: bold;font-size: 18px">
                  {{follow.following.name}}
                </p>
              </div>

              <div class="text">
                <span>
                  {{follow.following.username}}
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>


  <div class="chat-container" *ngIf="!openNewChat">
    <div class="messenger-header">
      <div class="user-chat-wrapper">
        <img src="assets/imgs/rux.jpg">
        <div class="user-avatar-text-wrapper">
          <div class="text-header">
            <div class="user-username">
              <p style="margin-left: 0.7rem;">
                {{currentUsername}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="ant-dropdown-trigger " (click)="toggleDropdown()">


           <span>&#8230;</span>
          <ul class="dropdown-menu" [ngClass]="{ 'show-menu': isDropdownOpen }">
            <li><a href="/user/{{ this.receiver}}">View profile</a></li>
            <li><a href="#">Report user</a></li>
            <li><a href="#">Block user</a></li>

          </ul>





      </div>
    </div>

    <div class="chat-conversation" *ngIf="combinedMessages$ | async as combinedMessages">
      <div class="chat-conv-source" #chatContainer>
        <ng-container *ngFor="let message of combinedMessages; let i = index">

          <ng-container *ngIf="i === 0 || !areEqualDates(message.timestamp, combinedMessages[i - 1].timestamp)">
            <div class="message-date">{{ formatDate(message.timestamp) }}</div>
          </ng-container>
            <div [ngClass]="{'message-body-me': message.sent, 'message-body-you': !message.sent}">
              <div [ngClass]="{'message-me': message.sent, 'message-you': !message.sent}">
                <ng-container *ngIf="message.sent; else otherMessage">
                  {{ this.decryptSentMessage(message.message) | trim }}
                </ng-container>
                <ng-template #otherMessage>
                  {{ this.decryptReceivedMessage(message.message) | trim }}
                </ng-template>
              </div>
              <p class="message-hour" [ngStyle]="{'text-align': message.sent ? 'right' : 'left'}">
                {{ formatTime(message.timestamp) }}
              </p>


            </div>
        </ng-container>
      </div>

      <div class="chat-input-wrapper">
        <input type="text" class="message-input" [(ngModel)]="message" placeholder="Say something...">
        <button class="form-submit-button" [disabled]="message==='' " (click)="sendMessage()"> Send
        </button>
      </div>

    </div>
  </div>

  <div>

  </div>


</div>
