<div class="container-form">
  <div class="background-image-form"></div>
  <div class="content-container">
    <div class="form-container">
      <form [formGroup]="form"  class="login-form">
        <h2>Sign In</h2>
        <div class="form-field">
          <input placeholder="Email" type="email" id="email" formControlName="email" class="no-border-form" required>
          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
               class="error">
            {{getEmailErrorMessage()}}
          </div>
        </div>

        <div class="form-field">
          <div class="input">
            <input placeholder="Password" matInput type="password" id="password"
                   [type]="hidePassword ? 'password' : 'text'" class="no-border-form" formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
              <ng-container *ngIf="hidePassword; else showPasswordIcon">
                <tui-svg src="tuiIconEye" class="icon"></tui-svg>
              </ng-container>
              <ng-template #showPasswordIcon>
                <tui-svg src="tuiIconEyeOff" class="icon"></tui-svg>
              </ng-template>
            </button>
          </div>
          <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
               class="error error-password">
            {{getPasswordErrorMessage()}}
          </div>
        </div>

      <p  class="forgot-password"> <a href="auth/forgot-password">Forgot password?</a></p>
        <button  (click)="login()" class="form-submit-button" type="submit">Login</button>
        <p class="login-link">Don&#39;t have an account? <a href="#">Sign up</a></p>
      </form>

    </div>
  </div>
</div>

