<div class="modal-container" >
  <div class="modal-wrapper">
    <div class="modal-box">
      <div class="box-title">
        <div class="modal-close-button">
          <div class="close-modal">
            <tui-svg
              src="tuiIconCloseLarge"
              class=" icon"
            ></tui-svg>
<!--            <button  (click)="closeModal()">X</button>-->
          </div>
        </div>
        <h4 class="title-style">
          <span>Likes 1015</span>
        </h4>
      </div>
      <div class="likes-modal">
        <div class="modal-content">
<!--          <div>-->
            <div class="infinite-scroll-component">
              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>

              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>


              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>


              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>


              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>


              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>


              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>


              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>


              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>



              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>



              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>


              <div class="style-box">
                <div class="user-info">
                  <a>
                    <img src="assets/imgs/rux.jpg">
                  </a>
                  <div class="user-name">
                    <a>
                      <p class="name-style"> Iubirea meaa</p>
                    </a>
                    <p class="follow-style">
                      <span>49</span>
                      "&nbsp;"
                      <span>Followers</span>
                    </p>
                  </div>

                </div>
                <button class="follow-button">
                  <span>Follow</span>
                </button>
              </div>

            </div>
<!--          </div>-->
        </div>

      </div>
    </div>
  </div>

</div>
