<div *ngIf="isModalOpen" class="upload-modal-container">
  <div class="upload-modal-container-content">
    <div class="upload-modal-header">
      <div class="upload-modal-header-wrapper">
        <div class="upload-modal-logo">
          <tui-svg class="upload-icon" src="tuiIconUploadCloudLarge"></tui-svg>
          <h4>Upload</h4>
        </div>


        <div class="exit-button">
          <tui-svg (click)="openConfirmDialog()" class="icon"
                   src="tuiIconCloseLarge"
                   style="font-size:20px"
          ></tui-svg>
        </div>

      </div>
      <button #dummyButton style="display: none;"></button>


    </div>
    <div class="display-container">
      <div class="upload-content">


        <div class="upload-content-wrapper">
          <tui-svg *ngIf="!selectedImage" src="tuiIconUploadCloudLarge"></tui-svg>
          <h3 *ngIf="!selectedImage">Drag files to upload </h3>
          <img *ngIf="selectedImage" [src]="selectedImage" alt="Imagine selectată"/>
          <input #fileInput (change)="handleFileInput($event)" accept="image/*" style="display: none" type="file">
          <button (click)="openFileInput()" *ngIf="!selectedImage" class="form-submit-button">Add Photo</button>

        </div>
        <button (click)="deletePhoto()" *ngIf="selectedImage" class="delete-button">Delete Photo</button>
      </div>
      <div *ngIf="selectedImage" class="create-form">
        <form *ngIf="categories$ | async as categories ">
          <div class="form-group">
            <label for="title">Title*</label>
            <input [(ngModel)]="title" id="title" maxlength="100" name="title" required
                   required type="text">
            <p>{{ currentCharacterCount(title) }}/100</p>

          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]="description" id="description" maxlength="250"
                      name="description" required></textarea>
            <p>{{ currentCharacterCount(description) }}/250</p>

          </div>

          <div class="form-group">
            <div class="select-container" style="z-index: 3!important;">
              <label for="category">Category*</label>
              <div class="select-wrapper form-column form-column-field">

                <select [(ngModel)]="category" id="category" name="category"
                        onblur="this.size=1;" onchange="this.size=1; this.blur();" onfocus="this.size=10;">
                  <option disabled selected value="">Select category</option>
                  <option *ngFor="let category of categories let i=index" [value]="i">{{category}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group" style="margin-top: 22px">
            <div class="select-container">
              <label>Country*</label>
              <div class="select-wrapper form-column form-column-field">

                <select [(ngModel)]="country" id="country" name="country"
                        onblur="this.size=1;" onchange="this.size=1; this.blur();" onfocus="this.size=10;">
                  <option disabled selected value="">Select country</option>
                  <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-top: 22px">
            <label>City*</label>
            <input [(ngModel)]="city" maxlength="50" name="textValue" required
                   type="text">
            <p>{{ currentCharacterCount(city) }}/50</p>


          </div>

          <div class="form-group">
            <label>Shoot date*</label>
            <input [(ngModel)]="selectedDate" [max]="getCurrentDate()" name="selectedDate" pattern="\d{4}-\d{2}-\d{2}" required
                   type="date">

          </div>

          <div class="button-upload">
            <button (click)="uploadPhoto()" [disabled]="isButtonDisabled()" [ngClass]="{ 'loading': loading }"
                    class="form-submit-button">
              <span *ngIf="!loading">Upload</span>
              <span *ngIf="loading" class="spinner"></span>
            </button>
          </div>


        </form>


      </div>


    </div>
  </div>
</div>
