.upload-icon {
  top: 45px;
  width: 45px;
  height: 45px;
  cursor: unset;
  background-color: rgb(247, 248, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.form-group {

  option {
    font-size: 15px;

    &:hover {
      cursor: pointer;
      background-color: #6983d3;
    }
  }

  margin-bottom: 15px;

  p {
    font-size: 12px;
    margin: 0;
    color: rgb(109, 115, 120);
    text-transform: none;
    text-align: right;
  }
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
}

textarea {
  height: 80px !important;
}


.create-form {
  word-break: break-word;
  width: 30%;
  padding: 3.6rem 4rem;
  background-color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.form-submit-button {
  font-size: 20px !important;
  width: 10rem !important;
  padding: 0.8rem !important;
  height: auto !important;
  margin-bottom: 0px !important;
  margin-top: 0 !important;
}

.button-upload {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width: 800px) {
  .display-container {
    overflow: auto;
    transition: flex-basis 0.3s ease-in-out;
  }

  .upload-content {
    top: 0 !important;
  }
  .display-container > div {
    flex-basis: 100%;
  }
}


.delete-button {
  width: auto;
  position: absolute;
  top: 15px;
  left: 64px;
  z-index: 2;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgb(109, 115, 120);
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgb(109, 115, 120, 0.7);
  }
}


.select-wrapper {
  height: 50px;
  overflow-y: visible;
}


.select-container {
  position: relative;
  z-index: 1;
}

