<div class="container">
  <ng-container *ngIf="currentTab">
    <div class="tab-title">
      <h2> {{this.currentTab.title}}</h2>
      <p class="subtitle-description">{{this.currentTab.subTitle}}</p>
    </div>
    <div class="dropdown-container" *ngIf="displayDropdown">
      <app-dropdown (categoryDeselectedEmitter)="handleDeselectCategory($event)"
                    (categorySelectedEmitter)="handleCategory($event)"></app-dropdown>
    </div>
  </ng-container>

  <ul class="tab-list" [ngClass]="{'custom-style': !displayDropdown}">
    <li *ngFor="let tab of tabs" [class.active]="tab.active" (click)="selectTab(tab)">
      {{ tab.tabTitle}}
    </li>
  </ul>
  <ng-content></ng-content>
</div>


