<div class="container " *ngIf="this.tabTitle"
     [ngClass]="{'container-no-likes': images.length===0 && (this.tabTitle==='Liked' || this.tabTitle==='Photos')}" [hidden]="!active">
  <div class="horizontal-bar"></div>



    <ng-container *ngIf="selectedTab!=='Galleries'">
      <div class="grid" >
        <figure *ngFor="let image of images"
                [style.flex-grow]="image.width * 100 / image.height"
                [style.flex-basis]="image.width * 240 / image.height + 'px'" data-title="ddd">


          <i [style.padding-bottom]="image.height / image.width * 100 + '%'"></i>
          <img  (click)="onImageClick(image)" [src]="image.imageUrl" alt="placeholder"/>
          <div class="hover-top"></div>
          <div class="hover-bottom" data-title="ddd">
            <span>{{image.autor.name}}</span>
            <div class="icon-container">
              <tui-svg class="hover-button" src="tuiIconHeartLarge" [ngClass]="{'checked': isInLikesList(image)}" (click)="onLikeChange(image)"></tui-svg>
              <tui-svg class="hover-button" src="tuiIconFolderPlusLarge" (click)="openGalleryModal(image)"></tui-svg>
            </div>
          </div>
        </figure>
      </div>
    </ng-container>


    <ng-container *ngIf="selectedTab==='Galleries'">
      <div class="gallery">
        <figure class="gallery-item">
          <div class="image-wrapper" >
            <div class="gallery-empty gallery-item__image" style=" filter:none!important;">
              <tui-svg style="margin-top: 2rem"
                src="tuiIconFolderPlusLarge"></tui-svg>
              <span>Create new Gallery</span>
                              <button class="form-submit-button" (click)="goToPage('create',null)"> Create</button>

            </div>
          </div>
          <figcaption class="gallery-info">

          </figcaption>
        </figure>

    <figure *ngFor="let gallery of images" class="gallery-item"(click)="goToPage(null,gallery.id)">

      <div class="image-wrapper" [ngStyle]="gallery.images.length===0? {'background-color': 'rgb(215, 216, 219)'} : {}" >
        <img *ngIf="gallery.images.length>0" class="gallery-item__image" [src]="gallery.images[0].imageUrl">

        <div class="gallery-empty gallery-item__image" *ngIf="gallery.images.length==0">
          <tui-svg
            src="tuiIconCameraOffLarge"></tui-svg>
          <span>Gallery is empty</span>
        </div>
      </div>

      <figcaption class="gallery-info">
        <div class="photo-count">
          <p style="font-weight: bold">{{gallery.name}}</p>
        </div>
        <div class="lock">
          <div class="gallery-description">  {{gallery.images.length > 0 ? gallery.images.length + ' Photos' : '' }}</div>
          <div class="button-container" *ngIf="gallery.isPrivate">
            <tui-svg class="icon-lock" src="tuiIconLockLarge"></tui-svg>
            <span>Only me</span>
          </div>
        </div>
      </figcaption>
    </figure>
      </div>

    </ng-container>
    <div class="no-image" *ngIf=" this.selectedTab==='Photos' && this.tabTitle==='Photos' && images.length===0 " >
      <div class="no-image-inner">
        <tui-svg src="tuiIconUploadLarge" class="icon"></tui-svg>
        <h3><span>You haven't posted any photos yet</span></h3>
        <p><span>Get started by uploading and sharing your photos!</span></p>
        <button class="form-submit-button"> Upload photos</button>
      </div>
    </div>

        <div class="no-image"  *ngIf=" this.selectedTab==='Liked'  && this.tabTitle==='Liked'  && images.length===0 " >
          <div class="no-image-inner">
          <tui-svg src="tuiIconHeartLarge" class="icon"></tui-svg>
          <h3><span>You haven't liked any photos yet</span></h3>
          <p><span> Get started by discovering photos - and don't forget to ❤️ your favorites!</span></p>
            <button class="form-submit-button"> Discover photos</button>
        </div>
        </div>




  </div>



<app-gallery-modal (closeEvent)="handleCloseModal()" [currentImage]="selectedImage" [isModalOpen]="isGalleryModalOpen"></app-gallery-modal>


