@import '../../variables.scss';

.container {
  width: 100%;

  .grid {

    display: flex;
    flex-wrap: wrap;
  }

  .grid::after {
    content: '';
    flex-grow: 999999999;
  }

  .grid > figure {
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.16)) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.08));
    margin: 0.7rem;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    position: relative;
  }

  .grid > figure > i {

    display: block;
  }

  .grid > figure > img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
  }

  .grid > figure {
    position: relative;
  }

  .hover-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: none;
    padding: 8px;
    opacity: 0;
    transition: opacity 0.2s ease 0s, max-height 0.2s ease 0s, transform 0.3s ease;
    transform: translateY(-100%);

  }

  .hover-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    box-shadow: none;
    color: white;
    height: 50px;
    opacity: 0;
    transition: opacity 0.2s ease 0s, max-height 0.2s ease 0s, transform 0.3s ease;
    transform: translateY(100%);

  }

  .grid > figure:hover .hover-top,
  .grid > figure:hover .hover-bottom {
    opacity: 1;
    transform: translateY(0);
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
  }

  .hover-button {
    margin-left: 10px;
    position: relative;
  }

  .hover-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    display: none;
    pointer-events: none;
    z-index: -10001;
  }

  .hover-button:hover::before {
    display: block;
  }

  .hover-button::before tui-svg {
    width: 20px;
    fill: white;
    height: 20px;
  }

  .hover-button:hover::before {
    background-color: rgba(255, 255, 255, 0.3);
  }

}

.checked {
  color: white !important;

  fill: white !important;
}


.no-image {

  .no-image-inner {
    word-break: break-word;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-top: 10px;
  }

  .icon {
    font-size: 40px !important;
    color: $app-fav-text;
  }

  h3 {
    color: $app-fav-text;
    font-size: 22px;
    font-weight: bold;
  }

  p {
    width: 75%;
    margin-top: -10px;
    color: $app-fav-text;
    font-size: 16px;
  }

  .form-submit-button {
    width: 30% !important;

  }

}

.container-no-likes {
  display: flex;
  justify-content: center;
  align-items: center;
}


.gallery-name {
  flex-direction: column;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  //padding: 8px;
  background-color: white;
  box-shadow: none;
  color: black;
  margin-top: -10rem;

  height: 50px;
  transition: opacity 0.2s ease 0s, max-height 0.2s ease 0s, transform 0.3s ease;

  span {
    //margin-top: -5rem;
    ////font-size: 14px;
  }
}

.gallery-figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.gallery-cover {
  width: 350px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.gallery-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lock {
  margin-bottom: 10px;
  margin-top: -10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.gallery-description {
  flex: 1; /* This will make the description take up remaining space */
  text-align: left; /* Align the text to the left */

}

.button-container {

  text-align: right; /* Align the button container to the right */
}

.gallery-info {
  padding-left: 10px;

  width: 90%;
}


tui-svg {
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 12px !important;
}

.form-submit-button {
  height: 50px !important;
  width: 70% !important;
}


.container-button {

  svg{
    width: 24px;
    height: 24px;
  }
  p {
    margin-bottom: -5px !important;
  }

  width: 350px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}


