<div  class="container">

    <app-edit-bar     [isFileSelected]="this.isFileSelected"
                      (addNewTextBotton)="setButtonAdd($event)" (buttonChanges)="setButtonDraw($event)"
                      (colorSelected)="setSelectedColor($event)" (selectIcon)="selectIcon($event)"
                      (textFormat)="setTextFormat($event)" (thicknessSelected)="setThicknessColor($event)"
                      [selectedIcon]="selectedIcon"></app-edit-bar>
  <div class="content">
    <app-upload-image (isFileSelected)="receiveData($event)" [addButton]="addButton"></app-upload-image>
  </div>
</div>


