.container {
  position: relative;
  margin-top: 30px;
  display: flex;

}


.content {
  margin-top: 27%;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  top: 0;
  z-index: 1;
}

app-edit-bar {
  position: relative;
  z-index: 2;
}
