<div class="container" *ngIf="image$ |async as image">
  <div class="image-container" [ngClass]="{ fullscreen: isFullscreen }">
    <tui-svg (click)="toggleFullscreen()"
             [src]="isFullscreen ? 'tuiIconMinimize2Large' : 'tuiIconMaximize2Large'"
             class="fullscreen-button"></tui-svg>
    <img [src]="image.imageUrl" alt="image">
  </div>

  <div class="content-container">
    <div class="container-c">
      <div class="container-inner">
        <div class="left-container">
          <div class="icon-container">
            <tui-svg (click)="onLikeChange(image)" src="tuiIconHeartLarge" class="icon"
                     [ngClass]="{'red': isLiked}"></tui-svg>
            <tui-svg src="tuiIconFolderPlusLarge" class="icon"></tui-svg>
            <tui-svg
              src="tuiIconSendLarge"
              class=" icon"
            ></tui-svg>
          </div>
          <div class="user-container">
            <div class="user-avatar">
              <img [src]="image.imageUrl" alt="autor">
            </div>
            <div class="user-info">
              <div class="user-title">
                {{image.title}}</div>
              <div class="line-2">
                <div class="user-subtitle">by {{image.autor.name}}
                </div>
                <div class="dot">•</div>
                <div class="follow-button" (click)="onFollowChange(image.autor)"
                     [ngClass]="{'unfollow-button': isFollowing}">
                  {{ isFollowing ? 'Unfollow' : 'Follow' }}
                </div>
              </div>
            </div>

          </div>
          <div class="info-container">
            <div class="location">
              <tui-svg
                src="tuiIconMapPinLarge"
              ></tui-svg>
              <div>{{image.location.country}} </div>
            </div>
            <span class="outer-span">Taken: <span class="inner-span">{{ formateDate(image.taked) }}</span></span>
            <span class="outer-span">Uploaded: <span class="inner-span">{{ formateDate(image.uploaded) }}</span></span>
          </div>
          <div class="info-description">
            {{image.description}}
          </div>
          <div class="type-container">
            <div class="info-likes">
              <div class="label">Likes</div>
              <div class="value">{{image.likes.length}}</div>
            </div>
            <div class="info-com">
              <div class="label">Category</div>
              <div class="value">{{ CategoryImage[image.category].toString() }}</div>
            </div>
            <div class="info-type" *ngIf="imageType$ |async as typeImage">
              <div
                class="label">{{typeImage.imageType === 'EditorChoice' ? 'Editor Choice' : typeImage.imageType}}</div>
              <tui-svg [src]="getImageType(typeImage.imageType)"></tui-svg>
            </div>
          </div>
          <div class="open-modal">
           <span class="span-button" *ngIf="isAuthenticated()" (click)="image.likes.length !== 0 && openModal()"
                 [ngClass]="{ 'disabled': image.likes.length === 0 }"><span>
                      {{ image.likes.length }} people liked this photo</span>
                    <tui-svg src="tuiIconArrowRightLarge"></tui-svg>
                        </span>
          </div>
          <div class="carousel-container">
            <button class="carousel-button carousel-button-previous" (click)="scrollToPrevious()"></button>
            <div class="carousel-wrapper" #carouselWrapper>
              <div class="card" *ngFor="let image of authorImages$">
                <div class="card-img-top">
                  <img [src]="image.imageUrl" alt="Carousel Image">
                </div>
                <div class="card-body">
                  <div class="card-title">{{image.title}}</div>
                </div>
              </div>
            </div>
            <button class="carousel-button carousel-button-next" (click)="scrollToNext()"></button>
          </div>
        </div>
        <div class="right-container">
          <div class="input-container">
            <div class="profile-picture" *ngIf="isAuthenticated()">
              <img src="https://i.imgur.com/hHYirXc.jpg" alt="Poza de profil">
            </div>
            <div class="input-wrapper" *ngIf="isAuthenticated()">
              <tui-input
                (focusedChange)="onInputFocus()"
                tuiTextfieldIconLeft="tuiIconMessageCircleLarge"
                [tuiTextfieldCleaner]="true"
                [(ngModel)]="value">
                Add a comment
                <input tuiTextfield/>
              </tui-input>
              <div class="actions" *ngIf="isInputFocused">
                <button (click)="cancelComment()" class="cancel-button">Cancel</button>
                <button [disabled]="value.trim().length === 0 || value === ' '" (click)="postComment()"
                        class="post-button">
                  Post
                </button>
              </div>
            </div>
            <div class="comments-section" *ngIf="comments$ | async as comments"
                 [ngClass]="{'collapsed': isInputFocused}"
                 id="commentsSection">
              <h2>{{comments.length}} Comments</h2>
              <ul>
                <li *ngIf="comments.length>0">
                  <div class="comment" *ngFor="let comm of comments">
                    <div class="comment-profile-picture">
                      <img src="https://i.imgur.com/hHYirXc.jpg" alt="">
                    </div>
                    <div class="comment-content">
                      <div class="comment-header">
                        <span class="comment-username">{{comm.user.name}}</span>
                      </div>
                      <div class="comment-text">
                        {{comm.commentText}}
                      </div>
                    </div>
                  </div>
                </li>
                <div class="no-comment" *ngIf="comments.length===0">
                  <tui-svg
                    src="tuiIconMessageCircleLarge"></tui-svg>
                  <p><span>No comments yet</span></p>
                </div>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-likes-modal (followEvent)="changeFollowStatus($event)" [title]="'Likes'" [pageDetails]="[image.id,image.autor.id]"  (closeEvent)="handleCloseModal()" [isModalOpen]="openLikesModal"></app-likes-modal>

</div>

