<div (scrolled)="onScroll()" infiniteScroll>
  <div *ngIf="user$ |async as user" class="profile-container">
    <div [ngStyle]="{'background-color': user.backgroundPhoto? '' : 'rgb(34, 34, 34)'}" class="background">
      <img *ngIf="user.backgroundPhoto" [src]=user.backgroundPhoto>
    </div>

    <div class="user-info">
      <div class="profile-picture">
        <ng-container *ngIf="user.profilePhoto; else profileIcon">
          <img [src]="user.profilePhoto">
        </ng-container>
        <ng-template #profileIcon>
          <div class="profile-icon">
            <tui-svg class="icon" src="tuiIconUserLarge" style="margin-left: 1.3rem; pointer-events: none"></tui-svg>
          </div>
        </ng-template>
      </div>


      <div class="user-icon">


        <tui-svg (click)="goToEditPage()" *ngIf="this.loggedUser==this.userID" class="icon"
                 src="tuiIconEdit2Large"
                 style="margin-right: -0.5rem"></tui-svg>

        <tui-svg (click)="copyLink()" class="icon" src="tuiIconLinkLarge"></tui-svg>



      </div>

      <div class="profile-info">
        <div class="profile-name">
          <h4> {{user.name}} </h4>
          <div *ngIf="user.location" class="profile-location">
            <tui-svg
              src="tuiIconMapPinLarge"
            ></tui-svg>
            <div class="location-text">
              <p> {{user.location.city}}</p>
              <p *ngIf="user.location.city && user.location.country">,</p>
              <p>     {{user.location.country}}</p>
            </div>


          </div>
        </div>

        <button (click)="onFollowChange()" *ngIf="this.loggedUser!=this.userID"
                [ngClass]="{'unfollow-button': isUserFollowing}"
                class="form-submit-button">
          {{ isUserFollowing ? 'Unfollow' : 'Follow' }}
        </button>


        <div *ngIf="user.description" class="profile-about">
          <p>{{user.description}}</p>
        </div>
        <div class="profile-details">
          <div [ngClass]="{'zero-followers': this.FollowersNb === 0 }" class="profile-followers ">
            <p (click)="this.FollowersNb !== 0 && openFollowers()"> {{ this.FollowersNb }} &nbsp;</p>
            <p (click)="this.FollowersNb !== 0 && openFollowers()"> Followers </p>
          </div>

          <div [ngClass]="{'zero-followers': this.FollowingNb === 0}" class="profile-following">
            <p (click)=" this.FollowingNb!== 0 && openFollowing()"> {{this.FollowingNb}} &nbsp;</p>
            <p (click)=" this.FollowingNb !== 0 &&openFollowing()"> Following</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="profile-tabs">

    <app-tabs (messageToParent)="handleMessage($event)" *ngIf="images$ | async as images" [displayDropdown]="false">
      <app-tab [images]="images" [selectedTab]="this.type" [tabTitle]="'Photos'">

      </app-tab>
      <app-tab [images]="images" [selectedTab]="this.type" [tabTitle]="'Galleries'">

      </app-tab>
      <app-tab (removeEvent)="removeElement($event)" *ngIf="this.loggedUser==this.userID" [images]="images"
               [selectedTab]="this.type" [tabTitle]="'Liked'">

      </app-tab>
    </app-tabs>
  </div>
</div>
<app-likes-modal (closeEvent)="handleCloseModal()" (followingChangeEvent)="changeProfileFol()" [isModalOpen]="openFollowersModal"
                 [pageDetails]="[this.userID,0]" [title]="'Followers'"></app-likes-modal>
<app-likes-modal (closeEvent)="handleCloseModal()" (followingChangeEvent)="changeProfileFol()" [isModalOpen]="openFollowingModal"
                 [pageDetails]="[this.userID,0]" [title]="'Following'"></app-likes-modal>
