<div infiniteScroll (scrolled)="onScroll()">
  <div class="profile-container" *ngIf="user$ |async as user">
    <div class="background" [ngStyle]="{'background-color': user.backgroundPhoto? '' : 'rgb(34, 34, 34)'}">
      <img *ngIf="user.backgroundPhoto" [src]=user.backgroundPhoto>
    </div>

    <div class="user-info">
      <div class="profile-picture">
        <ng-container *ngIf="user.profilePhoto; else profileIcon">
          <img [src]="user.profilePhoto">
        </ng-container>
        <ng-template #profileIcon>
          <div class="profile-icon">
            <tui-svg src="tuiIconUserLarge" style="margin-left: 1.3rem; pointer-events: none" class="icon"></tui-svg>
          </div>
        </ng-template>
      </div>


      <div class="user-icon">
        <tui-svg *ngIf="this.loggedUser!=this.userID && isAuthenticated()"

                 src="tuiIconSendLarge"
                 class="icon"

        ></tui-svg>


        <tui-svg (click)="goToEditPage()" class="icon" style="margin-right: -0.5rem"
                 *ngIf="this.loggedUser==this.userID"
                 src="tuiIconEdit2Large"></tui-svg>

        <tui-svg src="tuiIconLinkLarge" (click)="copyLink()" class="icon"></tui-svg>

        <tui-svg *ngIf="this.loggedUser!=this.userID && isAuthenticated()" src="tuiIconFlagLarge"
                 class="icon"></tui-svg>

      </div>

      <div class="profile-info">
        <div class="profile-name">
          <h4> {{user.name}} </h4>
          <div class="profile-location" *ngIf="user.location">
            <tui-svg
              src="tuiIconMapPinLarge"
            ></tui-svg>
            <div class="location-text">
              <p> {{user.location.city}}</p>
              <p *ngIf="user.location.city && user.location.country">,</p>
              <p>     {{user.location.country}}</p>
            </div>


          </div>
        </div>

        <button *ngIf="this.loggedUser!=this.userID" class="form-submit-button"
                (click)="onFollowChange()"
                [ngClass]="{'unfollow-button': isUserFollowing}">
          {{ isUserFollowing ? 'Unfollow' : 'Follow' }}
        </button>


        <div class="profile-about" *ngIf="user.description">
          <p>{{user.description}}</p>
        </div>
        <div class="profile-details">
          <div class="profile-followers " [ngClass]="{'zero-followers': this.FollowersNb === 0 }">
            <p (click)="this.FollowersNb !== 0 && openFollowers()"> {{ this.FollowersNb }} &nbsp;</p>
            <p (click)="this.FollowersNb !== 0 && openFollowers()"> Followers </p>
          </div>

          <div class="profile-following" [ngClass]="{'zero-followers': this.FollowingNb === 0}">
            <p (click)=" this.FollowingNb!== 0 && openFollowing()"> {{this.FollowingNb}} &nbsp;</p>
            <p (click)=" this.FollowingNb !== 0 &&openFollowing()"> Following</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="profile-tabs">

    <app-tabs (messageToParent)="handleMessage($event)" [displayDropdown]="false" *ngIf="images$ | async as images">
      <app-tab [tabTitle]="'Photos'" [images]="images" [selectedTab]="this.type">

      </app-tab>
      <app-tab [tabTitle]="'Galleries'" [images]="images" [selectedTab]="this.type">

      </app-tab>
      <app-tab [selectedTab]="this.type" *ngIf="this.loggedUser==this.userID" (removeEvent)="removeElement($event)"
               [tabTitle]="'Liked'" [images]="images">

      </app-tab>
    </app-tabs>
  </div>
</div>
<app-likes-modal (followingChangeEvent)="changeProfileFol()" [title]="'Followers'" [pageDetails]="[this.userID,0]"
                 (closeEvent)="handleCloseModal()" [isModalOpen]="openFollowersModal"></app-likes-modal>
<app-likes-modal (followingChangeEvent)="changeProfileFol()" [title]="'Following'" [pageDetails]="[this.userID,0]"
                 (closeEvent)="handleCloseModal()" [isModalOpen]="openFollowingModal"></app-likes-modal>
