<div class="container">
  <div class="box">
    <div class="title-gallery"><h3>{{ galleryId === 0 ? 'Create Gallery' : 'Edit Gallery'}}</h3></div>
    <form>
      <div class="element-input-wrapper">
        <label for="title-input">{{galleryId === 0 ? 'Title*' : 'Title'}}</label>
        <input [(ngModel)]="this.galleryName" id="title-input" maxLength="50" name="title" type="text">
        <p>{{ currentCharacterCount(this.galleryName) }}/50</p>

      </div>

      <div class="description">
        <div class="description-container">
          <label>
            Description
          </label>

          <textarea [(ngModel)]="this.galleryDescription" maxlength="250" name="textareaValue"></textarea>
          <p>{{ currentCharacterCount(this.galleryDescription) }}/250</p>


        </div>
        <p>
          Visibility
        </p>
        <div class="radio-button">
          <div class="radio-button-wrapper">
<span (click)="changeVisibility()" role="radio">
   <div *ngIf="!isPrivate" class="radio-fill">
   </div>


</span>
            <tui-svg class="public-radio" src="tuiIconEye"></tui-svg>

            <label>
              Visible to everyone
            </label>
          </div>
          <div class="radio-button-wrapper">
<span (click)="changeVisibility()" role="radio">
   <div *ngIf="isPrivate" class="radio-fill">
   </div>


</span>
            <tui-svg class="public-radio" src="tuiIconLock"></tui-svg>

            <label>
              Only visible to me
            </label>
          </div>


        </div>
        <div class="actions">
          <button (click)="cancelUpdate()" class="cancel-button">Cancel</button>
          <button (click)="updateGallery()" [disabled]="this.galleryName==''"
                  class="post-button">{{ galleryId === 0 ? 'Create' : 'Edit'}}</button>
        </div>
      </div>

    </form>
  </div>

</div>

