<div class="grid">
  <figure (click)="sal()" *ngFor="let image of images" [style.flex-grow]="image.width * 100 / image.height" [style.flex-basis]="image.width * 240 / image.height + 'px'" data-title="ddd">
    <i [style.padding-bottom]="image.height / image.width * 100 + '%'"></i>
    <img [src]="image.url" alt="placeholder" />
    <div class="hover-top"></div>
    <div class="hover-bottom" data-title="ddd">
      <span>Autor</span>
      <div class="icon-container">
        <tui-svg class="hover-button" src="tuiIconHeartLarge"></tui-svg>
        <tui-svg class="hover-button" src="tuiIconAddRowLarge"></tui-svg>
      </div>
    </div>
  </figure>
</div>
