<div class="container-form">
  <div class="background-image-form"></div>
  <div class="content-container">
    <div class="form-container">
      <form [formGroup]="form" class="login-form">
        <h2>Sign In</h2>
        <div class="form-field">
          <input class="no-border-form" formControlName="email" id="email" placeholder="Email" required type="email">
          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
               class="error">
            {{getEmailErrorMessage()}}
          </div>
        </div>

        <div class="form-field">
          <div class="input">
            <input [type]="hidePassword ? 'password' : 'text'" class="no-border-form" formControlName="password" id="password"
                   matInput placeholder="Password" type="password">
            <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" mat-icon-button
                    matSuffix>
              <ng-container *ngIf="hidePassword; else showPasswordIcon">
                <tui-svg class="icon" src="tuiIconEye"></tui-svg>
              </ng-container>
              <ng-template #showPasswordIcon>
                <tui-svg class="icon" src="tuiIconEyeOff"></tui-svg>
              </ng-template>
            </button>
          </div>
          <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
               class="error error-password">
            {{getPasswordErrorMessage()}}
          </div>
        </div>

        <p class="forgot-password"><a href="auth/forgot-password">Forgot password?</a></p>
        <button (click)="login()" [disabled]="form.invalid" class="form-submit-button" type="submit">Log in</button>
        <p class="login-link">Don&#39;t have an account? <a href="auth/register">Sign up</a></p>
      </form>

    </div>
  </div>
</div>

