@import '../../../variables';

.container {
  width: 100%;

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .grid::after {
    content: '';
    flex-grow: 999999999;
  }

  .grid > figure {
    margin: 0.3rem;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    position: relative;
  }

  .grid > figure > i {
    display: block;
  }

  .grid > figure > img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
  }

  .grid > figure {
    position: relative;
  }

  .grid > figure:hover .hover-top,
  .grid > figure:hover .hover-bottom {
    opacity: 1;
    transform: translateY(0);
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
  }

  .hover-button {
    margin-left: 10px;
    position: relative;
    color: white;
  }

  .hover-button:hover::before {
    display: block;
  }

  .hover-button::before tui-svg {
    width: 20px;
    fill: white;
    height: 20px;
  }

  .hover-button:hover::before {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.checked-editor {
  color: red !important;
}

.checked {
  color: white !important;
  fill: white !important;
}

.no-image {

  .no-image-inner {
    word-break: break-word;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-top: 10px;
  }

  .icon {
    font-size: 40px !important;
    color: $app-fav-text;
  }

  h3 {
    color: $app-fav-text;
    font-size: 22px;
    font-weight: bold;
  }

  p {
    width: 75%;
    margin-top: -10px;
    color: $app-fav-text;
    font-size: 16px;
  }

  .form-submit-button {
    width: auto !important;

  }
}

.container-no-likes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-name {
  flex-direction: column;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  box-shadow: none;
  color: black;
  margin-top: -10rem;
  height: 50px;
  transition: opacity 0.2s ease 0s, max-height 0.2s ease 0s, transform 0.3s ease;
}

.gallery-figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.gallery-cover {
  background-color: rgb(215, 216, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  overflow: hidden;
  background-size: cover;

  img {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
}


.lock {
  margin-bottom: 10px;
  margin-top: -10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.gallery-description {
  flex: 1;
  text-align: left;

}

.button-container {
  text-align: right;
}

.gallery-info {
  padding-left: 10px;
  width: 90%;
}

tui-svg {
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 12px !important;
}

.form-submit-button {
  height: 50px !important;
  width: auto !important;
}

.container-button {
  svg {
    width: 24px;
    height: 24px;
  }

  p {
    margin-bottom: -5px !important;
  }

  width: 350px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}


.gallery-empty {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;

  tui-svg {
    margin-bottom: 1rem;
    font-size: 25px !important;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-item {
  cursor: pointer;
  height: auto;
  margin: 10px;
  background-color: white;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.16)) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.08));
}

.image-wrapper {
  position: relative;
  padding-bottom: 100%;
}

.gallery-item__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .gallery-item {
    flex-basis: calc(25% - 20px);
  }
}

@media (max-width: 767px) {
  .gallery-item {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
  }
}

.gallery-item__button {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}

.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  flex: 1 1 100%;

  div {
    word-break: break-word;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;

    .author-name {
      margin-left: 0.5rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .icon-profile {
      height: 32px;
      width: 32px;
      background-color: rgba(109, 115, 120, 0.8);
      border-radius: 50%;
      filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.16)) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.08));
    }

    img {
      vertical-align: middle;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      flex: 0 0 30px;

    }
  }
}
