<body>
<div class="profile-container">
  <div [ngClass]="{ 'exist-background': backgroundImage!='' }" class="background">
    <img *ngIf="backgroundImage!=''" [src]="backgroundImage">
    <div (click)="openModalPhoto('background')" class="icon-overlay">
      <tui-svg class="icon-edit" src="tuiIconEdit2Large"></tui-svg>
    </div>
  </div>

  <div class="user-info">
    <div class="profile-picture">

      <img *ngIf="profileImage!=''" [src]="profileImage">
      <div *ngIf="profileImage==''" class="profile-icon">
        <tui-svg class="icon-edit" src="tuiIconUserLarge"></tui-svg>
      </div>
      <div (click)="openModalPhoto('profile')" class="edit-icon">
        <tui-svg class="icon-edit" src="tuiIconEdit2"></tui-svg>
      </div>
    </div>

    <div class="form-wrapper">
      <form #myForm="ngForm">
        <div class="form-row" style="margin-top: 30px">
          <div class="form-column">
            <label for="username">Username*</label>
            <input [(ngModel)]="this.username" id="username" maxlength="50" name="username"
                   type="text" readonly>
            <p>{{ currentCharacterCount(this.username) }}/50</p>
          </div>
          <div class="form-column">
            <label for="name">Name*</label>
            <input [(ngModel)]="this.name" id="name" maxlength="50" name="name" type="text">
            <p>{{ currentCharacterCount(this.name) }}/50</p>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column">
            <div class="select-container">
              <label>Country</label>
              <div class="select-wrapper form-column form-column-field">

                <select [(ngModel)]="this.country" id="country" name="country"
                        onblur="this.size=1;" onchange="this.size=1; this.blur();" onfocus="this.size=10;">
                  <option value="">None</option>
                  <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-column">

            <label for="city">City</label>
            <input [(ngModel)]="this.city" id="city" maxlength="50" name="city"
                   type="text">
            <p>{{ currentCharacterCount(this.city) }}/50</p>
          </div>
        </div>
        <div class="form-row" style="margin-bottom: 30px">
          <div class="form-column">
            <label for="description">Bio</label>
            <textarea [(ngModel)]="this.description" id="description" maxlength="250" name="description"
                      placeholder="About me..." rows="5">

            </textarea>
            <p>{{ currentCharacterCount(this.description) }}/250</p>

          </div>
        </div>

        <div class="actions">
          <button (click)="cancelUpdate()" class="cancel-button">Cancel</button>

          <div class="button-upload">
            <button (click)="updateUser()" [disabled]="isButtonDisabled()" [ngClass]="{ 'loading': loading }"
                    class="form-submit-button">
              <span *ngIf="!loading">Upload</span>
              <span *ngIf="loading" class="spinner"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>


<app-modal-select-photo (closeEvent)="handleCloseModal()" (selectedPhoto)="handleSelectedPhoto($event)"
                        [openModal]="openChoosePhoto"
                        [userId]="getUserAuthenticatedId()"></app-modal-select-photo>
