.container {

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  justify-content: center;
  height: 100vh;
  width: 300px;
  margin-left: 60px;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

.toggle-wrapper {
  flex: 1;
}
