

<div class="container">
  <form [formGroup]="testForm">
    <div class="toggle-item">
      <label for="toggle1">Invert</label>
      <div class="toggle-wrapper">
        <tui-toggle id="toggle1" formControlName="Invert"></tui-toggle>
      </div>
    </div>

    <div class="toggle-item">
      <label for="toggle2">Grayscale</label>
      <div class="toggle-wrapper">
        <tui-toggle id="toggle2" formControlName="Grayscale"></tui-toggle>
      </div>
    </div>

  </form>
  <p>Blur</p>
  <div>
    <input type="range" id="blurSlider" min="0" max="1" step="0.1" [(ngModel)]="blurIntensity" (ngModelChange)="applyBlurFilter()">
  </div>
  <p>Saturation</p>
  <div>
    <input type="range" id="satSlider" min="0" max="1" step="0.1" [(ngModel)]="saturationValue" (ngModelChange)="applySaturationFilter()">
  </div>
  <p>Noise</p>
  <div>
    <input type="range" id="noiseSlider" min="0" max="100" step="0.1" [(ngModel)]="noiseValue" (ngModelChange)="applyNoiseFilter()">
  </div>

  <p>Pixelate</p>
  <div>
    <input type="range" id="pixelateSlider" min="1" max="100" step="0.1" [(ngModel)]="pixelateValue" (ngModelChange)="applyPixelateFilter()">
  </div>
  <p>Contrast</p>
  <div>
    <input type="range" id="contrastSlider" min="-100" max="100" step="1" [(ngModel)]="contrastValue" (ngModelChange)="applyContrastFilter()">
  </div>

  <p>Brightness</p>
  <div>
    <input type="range" id="briSlider" min="0" max="100" step="0.01" [(ngModel)]="brightnessValue" (ngModelChange)="applyBrightnessFilter()">
  </div>

  <p>Hue</p>
  <div>
    <input type="range" id="lider" min="0" max="100" step="0.1" [(ngModel)]="hueValue" (ngModelChange)="applyHueFilter()">
  </div>
  <p>Sepia</p>
  <div>
    <input type="range" id="sepialider" min="0" max="100" step="0.1" [(ngModel)]="sepiaValue" (ngModelChange)="applySepiaFilter()">
  </div>
</div>
