.photos-container {
  overflow: auto;


  .no-photo {
    word-break: break-word;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-top: 4rem;

    .photo-icon {
      font-size: 48px;
    }

    h4 {
      font-size: 21px;
      margin: 3rem 0;
    }

    p {
      font-size: 16px;
      margin: -2rem 0;
    }
  }
}


@media screen and (max-width: 800px) {
  .photos-container {
    overflow: auto;
    transition: flex-basis 0.3s ease-in-out;

  }
}


