.container {

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  justify-content: center;
  height: 100vh;
  width: 300px;
  margin-left: 60px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
  text-align: left;
}

.button-group {
  margin-left: -40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.but{
  display: flex;
  margin-left: -10px;
  //justify-content: flex-start;
  margin-bottom: 10px;
  margin-top:10px;

}
.button-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}



.color-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.color-picker .label {
  margin-bottom: 5px;
  text-align: left;
}

input[type="color"] {
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.control {
  margin-top: 10px;
}
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.label {
  margin-right: 10px;
  flex: 1;
}

.value {
  text-align: right;
  flex: 1;
}

input[type="range"] {
  width: 100%;
}
