<div class="container-form">
  <div class="background-image-form"></div>
  <div class="content-container">
    <div class="form-container">
      <form [formGroup]="form"  class="login-form">
        <h2>Forgot password?</h2>
        <div class="form-field">
          <input placeholder="Email" type="email" id="email" formControlName="email" class="no-border-form" required>
          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
               class="error">
            {{getEmailErrorMessage()}}
          </div>
        </div>



        <button (click)="sendEmailResetPass()"  class="form-submit-button" type="submit">Send email</button>
        <p class="login-link">Remeber? <a href="auth/login">Login</a></p>
      </form>

    </div>
  </div>
</div>
