@import '../../variables.scss';
.background-image-form::before {
  background-image: url("../../assets/imgs/var2.jpg") !important;
}


.login-link {
justify-content: flex-end  ;
  display: flex;
  margin-top: 10px;
  text-align: center;
  a {
    margin-left: 5px;
    color: $app-button-color;

    &:hover {
      color: $app-primary;
    }
  }
}

.form-field{
  margin-top:3rem!important;
}
