<div class="sidebar">
  <div class="vertical-menu">
    <div *ngFor="let icon of icons; let i = index" [ngClass]="{'selected': i === selectedIconIndex  && this.isFileSelected}"
         class="icon-container">

      <tui-svg (click)="selectIconM(i, icon.type)" [src]="icon.name" class="icon-sidebar"></tui-svg>
      <label>{{ icon.label}}</label>
    </div>


  </div>

  <div  class="sub-menu-content">
    <ng-container *ngIf="selectedIconIndex === 0 && this.isFileSelected">
      <app-drawing-menu
        (buttonChanges)="handleButtonChange($event)"
        (colorChange)="handleColorChange($event)"
        (thicknessChange)="handleThicknessChange($event)"

      ></app-drawing-menu>
    </ng-container>

    <ng-container *ngIf="selectedIconIndex === 1 && this.isFileSelected">
      <app-text-menu (addNewTextBox)="handleAddNewTextBox($event)"
                     (textChanges)="handleTextFormat($event)"></app-text-menu>
    </ng-container>

    <ng-container *ngIf="selectedIconIndex === 2 && this.isFileSelected">
      <app-filters></app-filters>
    </ng-container>

    <ng-container *ngIf="selectedIconIndex === 3 && this.isFileSelected">
      <app-crop-menu></app-crop-menu>
    </ng-container>
  </div>
</div>
