@import '../../../variables';

.modal-box {
  width: 90%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;

  .gallery-list {
    flex: 1 1 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    outline: none;

    .add-new-gallery {
      padding: 0 24px;
      flex-direction: column;
      display: flex;
      text-align: left;
      width: 100%;
      //margin-left: 5rem;
      word-break: break-word;

      p {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        text-align: left;
        font-weight: bold;
      }

      form {
        display: block;

        .element-input-wrapper {
          width: 100%;
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          position: relative;

          label {
            text-align: left;
            color: rgb(109, 115, 120);
            margin-bottom: 4px;
          }

          input {
            padding: 5px;
            font-size: 15px;
            height: 30px;
            width: 86%;
            border: 1px solid rgb(215, 216, 219);
            border-radius: 3px;
          }
        }

        .check-box-wrapper {
          margin-top: 0.3rem;
          width: 100%;
          display: flex;
          -webkit-box-align: center;
          align-items: center;

          span {
            margin-left: 0.5rem;
          }

          .regular-checkbox {
            margin-left: -1.5px !important;
          }
        }


      }

      .actions {
        margin-right: 2.2rem !important;
      }
    }

    .modal-button {
      padding: 0 24px;

      .add-button {
        word-break: break-word;
        max-width: 100%;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        display: flex;

        button {
          &:hover {
            background-color: rgb(215, 216, 219);
          }

          margin-top: 1rem;
          width: 100%;
          display: inline-flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          font-size: 16px;
          line-height: 20px;
          font-weight: bold;

          border-width: 2px;
          border-radius: 28px;
          border-style: solid;
          cursor: pointer;
          text-align: center;
          align-items: center;
          max-height: 48px;
          padding: 12px 22px;
          background-color: white;
          border-color: rgb(8, 112, 209);
          color: rgb(8, 112, 209);

          tui-svg {
            margin-right: 10px;
            word-break: break-word;
            max-width: 100%;
            position: relative;
          }

          span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
            flex-grow: 1; /* ocupă spațiul disponibil rămas și se va alinia în centru */


            cursor: pointer;
            text-align: center;
          }

          .check-icon {
            margin-left: auto;
            margin-right: 0;
            flex: 0 0 32px;
          }
        }
      }
    }

    .border {
      border: 0;
      height: 1px;
      background-color: rgb(215, 216, 219);
      margin: 24px 16px;
    }

    .modal-search {
      margin-bottom: 1rem;
      display: flex;
      width: 100%;
      align-items: center;

      justify-content: center;

      tui-input {
        width: 90%;
      }
    }

    .infinite-scroll {
      //overflow: auto;
      //height: auto;
      display: flex;
      flex-direction: column;

      .item {
        word-break: break-word;
        max-width: 100%;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        cursor: pointer;
        padding: 8px 24px;

        .gallery-photo {
          background-color: rgb(215, 216, 219);
          height: 70px;
          width: 70px;
          vertical-align: middle;
          overflow: hidden;
          align-items: center;
          border-radius: 5px;
          display: flex;
          justify-content: center;

          tui-svg {
            color: rgb(238, 239, 242);
          }

        }

        &:hover {
          background-color:rgb(238, 239, 242);
        }

        img {
          height: 70px;
          width: 70px;
          border-radius: 4px;
          vertical-align: middle;

        }

        p {
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0px;
          text-transform: none;
          margin: 0 8px 0 16px;
          color: black;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }


  }


}


.modal-close-button {
  position: absolute;
  left: 16px;
  top: unset;
}

.close-modal {
  word-break: break-word;
  max-width: 100%;
  position: relative;
  height: 16px;
  width: 16px;
  z-index: 6;

}

.title-style {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  text-transform: none;
  margin: 0px;
  color: black;

}

//@media screen and (min-width: 429px) {
.modal-wrapper {
  padding: 32px;
  width: 480px;
  height: 600px;

}

.modal-box {
  //height: 430px;
  height: auto;
  max-height: 500px;
  border-radius: 4px;
  overflow: hidden;

}

.modal-close-button {
  left: 24px;
  top: unset;
}

.likes-modal {
  padding: 0 0 24px;
}

.modal-content {
  padding: 0 24px;
}

//}


.icon {
  z-index: 5;
  font-size: 25px;
  cursor: pointer;
}


.icon::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 40px;
  opacity: 0.5;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  display: none;
  pointer-events: none;
}

.icon:hover::before {
  display: block;
}

.icon::before tui-svg {
  width: 20px;
  fill: white;
  height: 20px;
}

.icon:hover::before {
  background-color: lightgray
}


.form-submit-button {
  width: 25%;
}

.unfollow-button {
  color: white;
}
