<div *ngIf="isModalOpen" class="modal-container">
  <div class="modal-wrapper">
    <div class="modal-box">
      <div class="title">
        <div class="modal-close-button">
          <div class="close-modal">
            <tui-svg (click)="closeModal()"
                     class=" icon"
                     src="tuiIconCloseLarge"
            ></tui-svg>
          </div>
        </div>
        <h4 class="title-style">
          <span>Add to Gallery</span>
        </h4>
      </div>


      <div #scrollContainer (scroll)="onScroll()" *ngIf="galleries$ | async as galleries" class="gallery-list">
        <div *ngIf="!createNewGallery" class="modal-button">
          <div (click)="openNewGalleyDialog()" class="add-button ">
            <button>
              <tui-svg
                src="tuiIconPlusLarge"></tui-svg>
              <span>Create new Gallery</span>
            </button>
          </div>
        </div>

        <div *ngIf="createNewGallery" class="add-new-gallery">
          <p>
            Create new Gallery
          </p>

          <form [formGroup]="form">
            <div class="element-input-wrapper">
              <label for="title-input">Title</label>
              <input formControlName="nameGallery" id="title-input" name="title" type="text">
            </div>

            <div class="check-box-wrapper">
              <input class="regular-checkbox" formControlName="isChecked" type="checkbox"
              >
              <span>Private</span>
            </div>
          </form>

          <div class="actions">
            <button (click)="cancelCreate()" class="cancel-button">Cancel</button>
            <button (click)="createGallery()" [disabled]="this.form.invalid"
                    class="post-button">
              Create and add
            </button>
          </div>
        </div>

        <hr class="border">


        <div class="modal-search">
          <tui-input

            (input)="searchMethod()"

            [(ngModel)]="searchValue"
            tuiTextfieldIconLeft="tuiIconSearchLarge">

            Search
            <input tuiTextfield/>
          </tui-input>

        </div>
        <div class="infinite-scroll">
          <div (click)="changeGallery(gallery)" *ngFor="let gallery of galleries" class="item">
            <img *ngIf="gallery.images.length>0" [src]="gallery.images[0].imageUrl">

            <div *ngIf="gallery.images.length==0" class="gallery-photo">
              <tui-svg
                src="tuiIconCameraOffLarge"></tui-svg>
            </div>
            <p>
              {{gallery.name}}
            </p>

            <tui-svg *ngIf="gallery.isPrivate"
                     src="tuiIconLock"></tui-svg>
            <tui-svg *ngIf="checkImage(gallery.images)"
                     src="tuiIconCheckLarge"
                     style="margin-left: auto;margin-right: 0;flex: 0 0 32px;color: rgb(8,112,209)"></tui-svg>
          </div>


        </div>


      </div>


    </div>


  </div>


</div>
