$app-primary: #619CE6;
$app-primary-hover: #3F6297;

$app-button-color:rgb(41,134,210);
$app-button-color-hover:rgb(41,134,247);

$app-category-button:rgb(8,112,209);
$app-category-text:rgb(82,85,88);

$app-secondary: #2F4075;
$app-secondary-hover: #1C2747;

$gray-button:rgb(182,185,187)
