<div class="container-form">
  <div class="background-image-form"></div>
  <div class="content-container">
    <div class="form-container">
      <form [formGroup]="form" class="login-form">
        <h2>Reset password</h2>

        <div class="form-field">
          <div class="input">
            <input [ngStyle]="{'pointer-events': this.disabledInput ? 'none' : 'auto'}" [readonly]="this.disabledInput" [type]="hidePassword ? 'password' : 'text'" class="no-border-form" formControlName="password"
                   id="password"
                   matInput placeholder="Password" type="password">
            <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" mat-icon-button
                    matSuffix>
              <ng-container *ngIf="hidePassword; else showPasswordIcon">
                <tui-svg class="icon" src="tuiIconEye"></tui-svg>
              </ng-container>
              <ng-template #showPasswordIcon>
                <tui-svg class="icon" src="tuiIconEyeOff"></tui-svg>
              </ng-template>
            </button>
          </div>
          <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
               class="error error-password">
            {{getPasswordErrorMessage()}}
          </div>
        </div>
        <div class="form-field">
          <div class="input">
            <input
              [ngStyle]="{'pointer-events': this.disabledInput ? 'none' : 'auto'}" [readonly]="this.disabledInput" [type]="hideConfirmPassword ? 'password' : 'text'" class="no-border-form"
              formControlName="confirmPassword" id="confirmPassword"
              matInput placeholder="Confirm password"
              type="password">

            <button (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword"
                    mat-icon-button
                    matSuffix>

              <ng-container *ngIf="hideConfirmPassword; else showPasswordIcon">
                <tui-svg class="icon" src="tuiIconEye"></tui-svg>
              </ng-container>
              <ng-template #showPasswordIcon>
                <tui-svg class="icon" src="tuiIconEyeOff"></tui-svg>
              </ng-template>
            </button>
          </div>
          <div
            *ngIf="form.get('confirmPassword')?.invalid && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)"
            class="error error-password">
            {{getConfirmPasswordErrorMessage()}}
          </div>

        </div>
        <div class="button-upload">
          <button (click)="changePassword()" [disabled]="form.invalid" [ngClass]="{ 'loading': isLoading }"
                  class="form-submit-button">
            <span *ngIf="!isLoading">Change Password</span>
            <span *ngIf="isLoading" class="spinner"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
