@import 'LicentaFrontend/src/variables';

.background-image-form::before{
  background-image: url("../../../assets/imgs/var4.jpg") !important;
}

h2{
  margin-top: 50%;
  margin-bottom: 20%;
}
.login-form label {
  color: black;
  opacity: 0.5;
  display: block;
  margin-bottom: 5px;
}

.login-link {
  margin-top: 10px;
  text-align: center;
  a {
    margin-left: 5px;
    color: $app-button-color;
    &:hover{
      color: $app-primary;
    }
  }
}

.input{
  display: flex;
  align-items: center;
  flex-direction: row;
  .icon{
    margin-top: -24px;
    color: rgb(34,34,34,0.6);
  }
}

.error{
  font-size: 12px;
}

.login-form input[type="password"]{
  margin-top: -25px;
}

.error-password{
  margin-top: -23px;
}

