.container-dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  z-index: 6000;
  border-radius: 1rem;
  border: 2.5rem solid transparent;

  .dialog-wrapper {
    z-index: 6000;
    display: flex;
    align-items: center;

    .dialog-content {

      tui-svg {
        font-size: 30px;
      }

      width: 100%;
      text-align: center;
      padding: 1.5rem;
      border-radius: inherit;
      background-color: white;

      h2 {
        margin-bottom: 0.5rem;

      }

      section {
        display: block;

        p {
          font-size: 16px;
          color: black;
        }

        .actions {
          justify-content: center !important;

          .form-submit-button {
            width: auto;
          }
        }
      }
    }
  }
}
