<div infiniteScroll (scrolled)="onScroll()">
<div class="container">
  <app-tabs [displayDropdown]="true" (emitDeselectedCategory)="handleDeselectCategory($event)" (emitSelectedCategory)="handleCategory($event)" (messageToParent)="handleType($event)" *ngIf="images$ | async as images" >

    <app-tab [selectedTab]="type"  [title]="'Fresh Arrivals'"  [subTitle]="'Stay up-to-date with the most recent uploads.'" [tabTitle]="'Fresh'"  [images]="images">
    </app-tab>
    <app-tab [selectedTab]="type" [subTitle]="'Explore the most popular content of the day.'" [title]="'Top Trending Today'" [tabTitle]="'Popular'" [images]="images"  >
    </app-tab>
    <app-tab [selectedTab]="type"  [title]="'Hand-selected Masterpieces'" [subTitle]="'Get inspired by the top picks chosen by our editors'" [tabTitle]="'Editor\'s Choice'" [images]="images" >
    </app-tab>
    <app-tab [selectedTab]="type"  [title]="'Unconventional Beauty'" [subTitle]="'Discovering unique images that defy conventional norms.'" [tabTitle]="'Basic'" [images]="images" >
    </app-tab>
  </app-tabs>
</div>
</div>

